/*aplica para todos os elementos*/
*{px
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}
/*estilo do corpo da pagina*/
body{
    background-color:#f1edf5;
    color: #444;
    text-align: center;
    padding: 20;
}
 /*Estilo do titulo principal dentro do header*/
header h1{
     font-size: 2.2rem;
     color: #5c5470;
     margin-bottom: 10px;
     
}

/*Estilo para o paragrafo*/
 header p{
    font-size: 1.1rem;
    margin-bottom: 30;
    color:#666;
 }
 /*Conteiner que organiza todos os cards e grid*/
 .mood-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 40px;
        padding: 20px;
        justify-items: center;

 }
 /*Estilo dos cards*/
  .mood-card{
    width: 150px;
    height: 200px;
    background: white;
    font-size:larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.2s,box-shadow 0.2s;
 
  }
  /*Efeito quando o mouse passa por cima do card*/
  .mood-card:hover{
    transform: translateY(-6px);
    box-shadow: 0px 6px 14px rgba(0,0,0,0.15);
  }
